body,
html {
    padding: 0px;
    margin: 0px;
}

/*Full Screen Background*/
.bg {
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
    color: white;
    background-color: #EDEDED;
    /* background-image:url('../unsplash.jpg');*/


}

/*Nav bar */
.background {
    background-color: #133467;
}

.background button div {
    border: 1px solid white;
    color: white !important;
    outline: none;
    border-radius: 2px;
    padding: 3px;
}

.container-fluid nav a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.collapse form .btn-outline-success {
    color: white;
    border: 1px solid white;
}

.collapse form .btn-outline-success:hover {
    background-color: red;
    border: 1px solid red;
    transition: 0.4s ease-in-out;
}
/*Current City temperature*/
#city-temperature {
    background-color: #425C85;
    padding: 10px 40px 10px 0px;
}
/*Today , hourly 5-day menubar*/
.container-fluid ul a {
    color: white;
    font-family: montserrat, 'sans-serrif';
    letter-spacing: 0.1em;
    text-decoration: none;
}

/*Modal switch*/

.onoffswitch4 {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch4-checkbox {
    display: none;
}

.onoffswitch4-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #27A1CA;
    border-radius: 0px;
}

.onoffswitch4-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch4-inner:before,
.onoffswitch4-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 26px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.onoffswitch4-inner:before {
    content: "\00b0 F";
    padding-left: 10px;
    background-color: #FFFFFF;
    color: #27A1CA;
    text-align:left;
}

.onoffswitch4-inner:after {
    content: "    \00b0 C ";
    padding-right: 10px;

    background-color: #FFFFFF;
    color: #27A1CA;
    text-align:right;
}

.onoffswitch4-switch {
    display: block;
    width: 25px;
    margin: 0px;
    background: #27A1CA;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 65px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch4-checkbox:checked+.onoffswitch4-label .onoffswitch4-inner {
    margin-left: 0;
}

.onoffswitch4-checkbox:checked+.onoffswitch4-label .onoffswitch4-switch {
    right: 0px;
}


/*Country List Modal*/





